body {
    /* background-image: linear-gradient(to bottom, rgb(175, 23, 23), #424242, #040404);
    background-repeat: no-repeat;
    background-size: cover; */
    min-height: 2000px;
    max-width: 1000px;
    margin: 0 auto;
}

.container {
    display: flex;
}

img {
    height: 10vh;

}

li {
    list-style: none;
}

nav .container {
    justify-content: space-between;
    margin: 0 10px 40px 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    align-self: center;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #6c1b1b;
}

.header .container {
    display: flex;
    gap: 5em;
    justify-content: center;
}

.activePage {
    background-color: black;
}

.activePage:hover {
    background-color: #b12b2b;
}


/* -------------------------------------- */

.photoIci {
    width: 200px;
    height: 100px;
    background-color: grey;
    border: 1px solid grey;
    text-align: center;
}

.originStory {
    width: 200px;
    height: 350px;
    background-color: grey;
    border: 1px solid grey;
    text-align: center;
}
